/*FOOTER*/

footer{
    background-color: $bg-principal;

    ul{
        background-color: $bg-principal;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        flex-wrap: wrap;
      
        li {
          padding-right: 10rem;
          padding-left: 10rem;
        }
    }

    .icons{
        width: 1.5rem;
        height: 1.5rem;
      }
}