/*HEADER*/

header{
    background-color: $bg-principal;
    top:0;
    width: 100%;
    position: fixed;
    z-index: 1;

    a:hover{
        background-color: $bg-secundario;
    }

    /*MODIFICACION NAV BAR BOOTSTRAP*/
   .navbar-light .navbar-nav .nav-link.active,
   .navbar-light .navbar-nav .show > .nav-link {
    color: #ed143d;
    font-size: 1.3rem;
    margin-left: 8rem;
}}
