* {
  margin: 0;
  padding: 0;
}

/* GENERAL*/
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background: radial-gradient(pink, lightblue);
  background-size: cover;
  color: black;
  line-height: 1.6;
  margin-top: 7rem;
}

ol {
  margin: 50px;
}

a:hover{background-color: darkslateblue;
  color:floralwhite;
}

/* En pantallas mas pequeñas los titulos no tienen animacion*/
@media screen and (min-width: 780px) {
  @keyframes titulo--efecto {
    0% {
      font-size: 5rem;
    }
    25% {
      font-size: 6rem;
    }
    50% {
      font-size: 7rem;
    }
    75% {
      font-size: 6rem;
    }
    100% {
      font-size: 5rem;
    }
  }
}

.guia,
legend {
  font-size: 2rem;
  color: maroon;
}

/*HEADER*/
header {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
}

/*Modificacion de NAV de Bootstrap*/
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ed143d;
  font-size: 1.3rem;
  margin-left: 8rem;
  
}



/*PORTADA*/

.contenedor__titulo {
  height: 8rem;
}

#tituloPpal {
  font-size: 5rem;
  color: purple;
}
/*el keyframe se encuentra junto al titulo de todas las paginas mas arriba*/

.dimensionesCarousel {
  width: 50%;
  margin: auto;
}

/*TOURS*/

#argentina {
  font-size: 2rem;
  color: whitesmoke;
  background-color: rgb(33, 78, 94);
  width: 9rem;
  margin-bottom: 2rem;
}

#sectionTour {
  margin-left: 5rem;
  margin-right: 5rem;
}

#sectionTour div {
  margin-bottom: 5rem;
}


.botonGaleria{
  border-radius: 1rem;
  padding:0.5rem;
  background-color: rgba(128, 128, 128, 0.322);
  color:purple;
  float:right;
  width: 15rem;
  text-align: center;
  font-size: 1.1rem;
  transition: all 2s;
 
}

.botonGaleria:hover {font-size: 1.2rem;
         width: 20rem;
         

}
/*modificacion de colores de tabla de Bootstrap*/
.table-success {
  --bs-table-striped-bg: #f00d221c;
}

span {
  color: magenta;
}

#consultanos {
  font-weight: bold;
  text-align: center;
}

/*GALERIA*/

.ciudad {
  text-align: center;
  color: maroon;
  font-size: 3rem;
}

.imgGaleria{
  width:12rem;
  height:12rem;

  border-radius: 2rem;
  transition: height 1s, width 1s;
}

.imgGaleria:hover{
  width: 20rem;
  height: 20rem;
}

/*QUIENES SOMOS*/
#guias {
  display: grid;
  width: 80%;
  margin: auto;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    "presentacionGuias presentacionGuias "
    "nombreM  nombreM"
    "martin descripcionM"
    "nombreJ nombreJ"
    "jana descripcionJ"
    "nombreD nombreD"
    "daniela descripcionD"
    "nombreE nombreE"
    "elizabeth descripcionE";
}
#guias div {
  padding-left: 2rem;
  padding-right: 2rem;
}
.guias__foto--dimensiones {
  width: 15rem;
  height: 20rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
#guias__presentacion {
  grid-area: presentacionGuias;
}
#guias__nombre--martin {
  grid-area: nombreM;
}
#guias__foto--martin {
  grid-area: martin;
}
#guias__martin--descripcion {
  grid-area: descripcionM;

}

#guias__nombre--jana {
  grid-area: nombreJ;
}
#guias__foto--jana {
  grid-area: jana;
}

#guias__nombre--daniela {
  grid-area: nombreD;
}
#guias__foto--daniela {
  grid-area: daniela;
}

#guias__nombre--elizabeth {
  grid-area: nombreE;
}
#guias__foto--elizabeth {
  grid-area: elizabeth;
}

/*CONTACTO*/

#formulario {
  width: 50%;
  background: linear-gradient(
    45deg,
    rgb(185, 169, 169),
    white,
    rgb(185, 169, 169)
  );

  text-align: left;
  margin: auto;
}

input:focus {
  background-color: rgba(129, 228, 129, 0.63);
}

fieldset {
  padding-left: 5rem;
}
